.draft-editor {
  display: flex;
  .wrap-raw-html {
    width: 50%;
    margin-left: 10px;
  }
  &__form-wrapper {
    width: 50%;
    margin-right: 10px;
    height: 100%;
  }
  &__form-editor {
    border: solid 1px green;
  }
}

.code-editor {
  display: flex;
  .code-editor-input {
    width: 50%;
    margin-right: 10px;
  }
  .Code {
    margin-left: 10px;
    width: 50%;
  }
}
