.draft-editor {
  display: flex;
  .wrap-raw-html {
    width: 50%;
    margin-left: 10px;
  }
  &__form-wrapper {
    width: 50%;
    margin-right: 10px;
    height: 100%;
  }
  &__form-editor {
    background-color: $color_bg_page;
    padding: 20px;
  }
}

.code-editor {
  display: flex;
  .code-editor-input {
    width: 50%;
    margin-right: 10px;
  }
  .Code {
    margin-left: 10px;
    width: 50%;
  }
}

.section-form {
  &[draggable='true'] {
    border: solid 1px $color_success;
  }
  .control-group {
    border: solid 1px $color_primary;
    padding: 6px;
    width: max-content;
    .ant-btn:first-child {
      margin-right: 12px;
    }
    .ant-btn:last-child {
      margin-left: 12px;
    }
  }
  .field-item {
    background-color: $color_bg_header_card;
  }
}
