.seo-page {
  margin-bottom: 100px;
  .title-form {
    color: $color_primary;
    margin-bottom: 30px;
  }
  .field-wrap {
    margin-bottom: 22px;
  }
}

.seo-history-page {
  .history-wrap {
    .ant-timeline-item-label {
      font-weight: bold;
      color: $color_primary;
    }
  }
}
