.tag-form {
  .upload__wrap {
    display: block;
    margin: auto;
    width: max-content;
    .ant-upload {
      margin: 0px !important;
    }
  }
  .tag-upload-dec {
    text-align: center;
    display: block;
    font-weight: bold;
  }
}
