.card-search {
    box-shadow: $box_shadow_card_search;
    border-radius: 16px;
    @include _container();
    margin-top: 112px;

    .ant-card-body {
        padding: 44px;
    }
    .icon-action.rollback {
        margin-top: 24px;
        margin-left: 20px;
    }
    &__btn.ant-btn {
        height: 36px;
        @include _flexBox();
        svg {
            margin-right: 6px;
        }
    }
    &__filter-wrap {
        padding-bottom: 14px;
        .field-wrap {
            margin-top: 30px;
        }
    }
    .icon-refresh {
        display: none;
    }
}

@include _responsive(lg) {
    .card-search {
        margin-left: 32px;
        margin-right: 32px;
        .ant-card-body {
            padding: 20px 32px;
        }
        .icon-action.rollback {
            display: none;
        }
        .form__row {
            position: relative;
        }

        .field-wrap {
            margin-top: 20px;
        }
        .icon-refresh {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
        }
    }
}

@include _responsive(xs) {
    .card-search {
        margin-top: 100px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
