.modal-rate {
    &__top {
        margin-bottom: 23px;
        .ant-image {
            width: 100%;
        }
        &-avatar {
            width: 103px;
            height: 103px;
            border-radius: 50%;
            display: block;
            margin: auto;
        }
        h4.ant-typography {
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            text-align: center;
            color: $color_title_section;
            margin-bottom: 8px;
        }
        .store-rate {
            justify-content: center;
            &__base-on {
                font-size: $font_size_base - 2;
                line-height: 18px;
                text-align: center;
                color: $color_count_review;
                margin-top: 11px;
            }
        }
    }
    &__comment {
        max-height: 335px;
        overflow-y: auto;
        max-width: 994px;
        margin: auto;
    }
    &__comment-item {
        margin-bottom: 24px;
        .rate-info {
            margin-bottom: 12px;
            width: calc(100% - 16px);

            .info-left {
                display: flex;
                align-items: center;
            }
            @include _flexBox(flex-end, space-between);
            .content-right {
                margin-left: 13px;
                .ant-rate-star:not(:last-child) {
                    margin-right: 4px;
                }
            }
            .create-at.ant-typography {
                margin-bottom: 0;
            }
            .user-name {
                font-weight: 600;
                font-size: $font_size_base - 4;
                line-height: 18px;
                letter-spacing: 0.1px;
                color: $color_name_review;
                margin-bottom: 3px;
            }
        }
        .rate-comment-wrap {
            padding: 16px;
            background-color: $color_bg_card;
            border-radius: 10px;
            width: calc(100% - 16px);
            .ant-typography {
                margin-bottom: 0;
            }
            .ant-typography-expand {
                display: block;
                font-size: $font_size_base - 4;
                line-height: 18px;
                margin: 0;
                color: $color_count_review;
            }
        }
    }
}

@include _responsive(sm) {
    .modal-rate {
        &__top {
            margin-bottom: 30px;
        }
        &__comment-item {
            .rate-info,
            .rate-comment-wrap {
                width: 100%;
            }
        }
    }
    .app-modal.modal-rate {
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
        top: 0;
        padding: 0;
        margin: 0;
        .ant-modal-content {
            border-radius: unset;
            min-height: 100vh;
        }
    }
}
