.title-field-divider {
  .ant-divider-inner-text {
    font-weight: bold;
    font-size: $font_size_base + 4;
    color: $color_primary;
  }
}

.title-page.ant-typography {
  font-size: $font_size_base + 14;
}
